.button {
  margin-top: 2.4rem;
  height: 5.0rem;
  border-radius: .8rem;
  font-weight: 500;
  background: #1F78FF;
  color: #fff;
  padding: 0 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: filter .2s;
}

.button > img {
  margin-right: .8rem;
}

.button:not(:disabled):hover{
  filter: brightness(0.9);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}