#content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 8.0rem;
  background: #f9f9f9;
}

form {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 100%;
  height: 5.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
  border: 2px solid #1F78FF;
  border-radius: .8rem;
  color: #1F78FF;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: filter .2s;
}

button > img {
  margin-right: 1.6rem;
}

button:not(:disabled):hover{
  filter: brightness(0.9);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input {
  width: 100%;
  height: 5.0rem;
  border: 1px solid #c4c4c4;
  border-radius: .4rem;
  padding-left: 1.6rem;
  color: #3a3a3a;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

input:nth-child(2) {
  margin: .8rem 0;
}

input:focus {
  width: 100%;
  height: 5.0rem;
  border: 2px solid #1F78FF;
  border-radius: .4rem;
}

input::placeholder {
  color: #b7b7b7;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.4rem 0;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #3a3a3a;
}

.separator::before {
  content: '';
  flex: 1;
  height: 2px;
  background: #b7b7b7;
  margin-right: 1.6rem;
  border: none;
  border-radius: .4rem;
}

.separator::after {
  content: '';
  flex: 1;
  height: 2px;
  background: #b7b7b7;
  margin-left: 1.6rem;
  border: none;
  border-radius: .4rem;
}

aside {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #63A1FF;
}

aside > img {
  max-width: 50.0rem;
}