<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Targets -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- View Port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Faça Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/login.css">
    <!-- Fonts -->
</head>
<body>
    <div id="login" class="content">
        <header>
            <section id="acessibilidade">
                <ul id="menu-acessivel">
                    <li>
                        <a href="#">
                            <img src="images/Libras.svg" alt="Libras">
                            Libras
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/Contraste.svg" alt="Contraste">
                            Contraste
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/Teclado.svg" alt="Teclado Virtual">
                            Teclado Virtual
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/Fonte.svg" alt="Fonte">
                            Fonte
                        </a>
                    </li>
                </ul>
            </section>
            <section id="header-geral">
                <a href="/src/views/index.html">
                    <img src="images/Logo.svg" alt="Projeto Traveller Logo">
                </a>
                <ul id="menu">
                    <li><a href="#">Página inicial</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#" class="button">Criar conta</a></li>
                </ul>
            </section>
        </header>
        <div id="imagem-destaque">
            <img src="images/bg-login-image.svg" alt="Menina">
        </div>
        <main>
            <div class="container">
                <!-- Vai rederizar aqui -->
                <%- include(`parts/${page}`) %>
            </div>
        </main>
    </div>
</body>
</html>