<section>
    <p>Faça login para ter uma experiência mais completa na sua navegação.</p>
    <form action="" method="POST">
        <div class="bloco">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Insira seu e-mail" maxlength="50">
        </div>
        <div class="bloco">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Insira sua senha" maxlength="8">
        </div>
        <div class="bloco-h">
            <div class="lembrar-btn">
                <input type="radio" name="lembrar" id="lembrar">
                <label for="lembrar">Lembrar senha</label>
            </div>
            <a href="#" class="link-style">Esqueceu a senha?</a>
        </div>
        <button>Login</button>
        </form>
        <div class="bloco-cadastro">
            <p>Já tem uma conta?</p>
            <a href="/login" class="link-style">Fazer login</a>
        </div>
</section>