<p>Tenha uma experência mais completa na sua navegação ao criar sua conta.</p>
<form action="/profile" method="POST">
    <div class="bloco">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" placeholder="Insira seu e-mail" maxlength="50">
    </div>
    <button>Avançar</button>
</form>
<div class="bloco-cadastro">
    <p>Já tem uma conta?</p>
    <a href="/login" class="link-style">Fazer login</a>
</div>