h1, h2, h3 {
    font: 400 1.6rem 'Poppins', sans-serif;
    color: var(--txt-black);
}

h1 {
    font-weight: bold;
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

p, label, input {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--txt-dark);
}

ul {
    list-style: none;
}